* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1 {
    text-align: center;
    color: dodgerblue;
    border-bottom: 2px dashed rgb(255, 255, 67);
    padding: 5px;
    margin: auto 5vw;
}

img {

    height: 150px;
    width: 150px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
    gap: 5px;
}