* {
    box-sizing: border-box;
}

body {
    background-color: #e3e3e3bd;
    font-family: sans-serif;
}


h1 {
    font-family: Stencil Std, fantasy;
    text-align: start;
    color: dodgerblue;
    border-bottom: 2px dashed rgb(255, 255, 255);
    border-top: 2px dashed rgb(255, 255, 255);
    padding: 5px;
    margin: auto 5vw;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;


    >nav ul {
        display: inline-flex;
        border-radius: 5px;
        color: rgba(0, 128, 255, 0.858);
    }


}

.gallery,
.editor {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;

    >h2 {
        font-family: Stencil Std, fantasy;
        color: dodgerblue;
        border-bottom: 2px dashed  #e3e3e3bd;
        border-top: 2px dashed  #e3e3e3bd;
        padding: 5px;
        margin: 1vw auto;
        max-width: fit-content;
    }
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    margin: 10px;
}

.images img {
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(210, 210, 210, 0.445);
    border-radius: 5px;
}

canvas {
    display: block;
    border: 1px solid #ccc;
    margin: 10px auto;
}

input {
    margin: 10px;
}

.hidden {
    display: none;
}
.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    >a{
        color: rgb(0, 98, 196);
        align-self: center;
    }
    >a:hover{
        color: dodgerblue;
    }
}

.controls input[type="text"] {
    flex: 1 1 ;
    padding: 5px;
    font-size: 14px;
}

.controls button {
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    background: #444444a5;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.controls button:hover {
    background: #666;
}

.color-btn {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    font-weight: bold;
}


@media (max-width: 768px) {
    canvas {
        width: 100%;
        height: auto;
    }
    .images {
        grid-template-columns: 1fr;
    }
    nav ul {
        width: 100%;
        margin: 5px 0;
    }
    .controls {
        flex-direction: column;
        align-items: start;
    }
    
    .controls input[type="text"] {
        width: 100%;
    }
}

