* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1 {
    text-align: center;
    color: dodgerblue;
    border-bottom: 2px dashed rgb(255, 255, 67);
    padding: 5px;
    margin: auto 5vw;
}