* {
    box-sizing: border-box;
}

body {
    background-color: #e3e3e3bd;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >nav ul {
        display: inline-flex;
        border: 1px solid rgb(189, 189, 190);
        border-radius: 5px;
    }
}

h1 {
    font-family: Stencil Std, fantasy;
    text-align: start;
    color: dodgerblue;
    border-bottom: 2px dashed rgb(255, 255, 67);
    border-top: 2px dashed rgb(255, 255, 67);
    padding: 5px;
    margin: auto 5vw;
}

img {

    height: 150px;
    width: 150px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
    gap: 5px;
}

.editor {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-columns: repeat(4 1fr);
    grid-auto-flow: row;
    max-width: fit-content;

    >input {
        border-radius: 5px;
    }

}

.canvas-container {
    margin: 10px auto;
    width: 80vw;
    text-align: center;
    color: dodgerblue;

    >h3 {
        background-color: rgb(255, 255, 67);
        padding: 3px;
    }

}

canvas {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 5px auto;
    border: 1px solid #00000036;
    border-radius: 5px;

}